<!DOCTYPE gui>
<gui name="kate" version="102" translationDomain="kate">
 <MenuBar alreadyVisited="1">
  <Menu noMerge="1" name="file" alreadyVisited="1">
   <text translationDomain="kate">&amp;File</text>
   <Action name="file_new"/>
   <Action name="view_new_view"/>
   <DefineGroup name="new_merge"/>
   <Separator/>
   <Action name="file_open"/>
   <Action name="file_open_recent"/>
   <Action name="file_open_with"/>
   <DefineGroup name="open_merge"/>
   <Separator/>
   <DefineGroup name="save_merge"/>
   <Action name="file_save_all"/>
   <Separator/>
   <DefineGroup name="revert_merge"/>
   <Action name="file_reload_all"/>
   <DefineGroup name="print_merge"/>
   <DefineGroup name="export_merge"/>
   <Separator/>
   <Action name="file_close"/>
   <Action name="file_close_other"/>
   <Action name="file_close_all"/>
   <Action name="file_close_orphaned"/>
   <DefineGroup name="close_merge"/>
   <Separator/>
   <Menu noMerge="1" name="file_file_actions">
    <text translationDomain="kate">File Actions</text>
    <Action name="file_rename"/>
    <Action name="file_delete"/>
    <Action name="file_compare"/>
    <Separator/>
    <Action name="file_copy_filepath"/>
    <Action name="file_open_containing_folder"/>
    <Action name="file_properties"/>
   </Menu>
   <Separator/>
   <Action name="file_quit"/>
  </Menu>
  <Menu noMerge="1" name="edit" alreadyVisited="1">
   <text translationDomain="kxmlgui5">&amp;Edit</text>
   <DefineGroup name="edit_undo_merge"/>
   <Separator group="edit_undo_merge"/>
   <DefineGroup name="edit_paste_merge"/>
   <Separator/>
   <DefineGroup name="edit_select_merge"/>
   <Separator/>
   <DefineGroup name="edit_find_merge"/>
   <Separator/>
  </Menu>
  <Menu append="before_view" noMerge="1" name="selection">
   <text translationDomain="kate">&amp;Selection</text>
  </Menu>
  <Menu noMerge="1" name="view" alreadyVisited="1">
   <text translationDomain="kxmlgui5">&amp;View</text>
   <Menu noMerge="1" name="view-split">
    <text translationDomain="kate">Split View</text>
    <Action name="go_prev_split_view"/>
    <Action name="go_next_split_view"/>
    <Separator/>
    <Action name="go_left_split_view"/>
    <Action name="go_right_split_view"/>
    <Action name="go_upward_split_view"/>
    <Action name="go_downward_split_view"/>
    <Separator/>
    <Action name="view_split_vert"/>
    <Action name="view_split_horiz"/>
    <Action name="view_split_vert_move_doc"/>
    <Action name="view_split_horiz_move_doc"/>
    <Action name="view_split_toggle"/>
    <Separator/>
    <Action name="view_close_current_space"/>
    <Action name="view_close_others"/>
    <Separator/>
    <Action name="view_hide_others"/>
    <Separator/>
    <Action name="view_split_move_left"/>
    <Action name="view_split_move_right"/>
    <Action name="view_split_move_up"/>
    <Action name="view_split_move_down"/>
   </Menu>
   <Separator/>
   <Merge name="kate_mdi_view_actions"/>
   <Separator/>
   <DefineGroup name="view_operations"/>
   <Separator weakSeparator="1"/>
   <Action name="fullscreen"/>
  </Menu>
  <Menu noMerge="1" name="go" alreadyVisited="1">
   <text translationDomain="kxmlgui5">&amp;Go</text>
   <Action name="view_quick_open"/>
   <DefineGroup name="view_switch_tab"/>
   <Separator/>
   <DefineGroup name="edit_goto"/>
   <DefineGroup name="switch_document"/>
   <Separator/>
   <Action name="view_next_tab"/>
   <Action name="view_prev_tab"/>
   <Separator/>
   <Action name="view_history_back"/>
   <Action name="view_history_forward"/>
   <Separator/>
   <DefineGroup name="edit_goto2"/>
  </Menu>
  <DefineGroup name="after_view"/>
  <Merge/>
  <DefineGroup name="before_tools"/>
  <Action name="sessions"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Menu noMerge="1" name="tools" alreadyVisited="1">
   <text translationDomain="kxmlgui5">&amp;Tools</text>
   <Action name="tools_external"/>
   <Separator/>
   <DefineGroup name="tools_operations"/>
   <DefineGroup name="tools_konsole"/>
   <Separator group="tools_konsole"/>
   <DefineGroup name="tools_snippet"/>
   <Separator group="tools_snippet"/>
   <DefineGroup name="tools_operations2"/>
   <Separator group="tools_operations2"/>
   <DefineGroup name="tools_git_blame"/>
   <Separator group="tools_git_blame"/>
   <DefineGroup name="tools_spelling"/>
   <DefineGroup name="tools_operations3"/>
  </Menu>
  <Menu noMerge="1" name="settings" alreadyVisited="1">
   <text translationDomain="kxmlgui5">&amp;Settings</text>
   <Action group="color" name="colorscheme_menu"/>
   <DefineGroup name="color"/>
   <Separator weakSeparator="1"/>
   <Action name="options_show_menubar"/>
   <Merge name="StandardToolBarMenuHandler"/>
   <Merge name="KMDIViewActions"/>
   <Action name="options_show_statusbar"/>
   <Action append="show_merge" name="settings_show_tab_bar"/>
   <Action append="show_merge" name="settings_show_full_path"/>
   <Action append="show_merge" name="settings_show_url_nav_bar"/>
   <Separator weakSeparator="1"/>
   <Action name="switch_application_language"/>
   <Action name="options_configure_keybinding"/>
   <Action name="options_configure_toolbars"/>
   <Action name="options_configure"/>
  </Menu>
  <Separator weakSeparator="1"/>
  <Menu noMerge="1" name="help" alreadyVisited="1">
   <text translationDomain="kxmlgui5">&amp;Help</text>
   <Action name="help_contents"/>
   <Action name="help_whats_this"/>
   <Action name="open_kcommand_bar"/>
   <Separator weakSeparator="1"/>
   <Action name="help_welcome_page"/>
   <Separator weakSeparator="1"/>
   <Action name="help_report_bug"/>
   <Separator weakSeparator="1"/>
   <Action name="help_donate"/>
   <Separator weakSeparator="1"/>
   <Action name="help_about_app"/>
   <Action name="help_about_kde"/>
  </Menu>
 </MenuBar>
 <ToolBar noMerge="1" name="mainToolBar" alreadyVisited="1">
  <text translationDomain="kate">Main Toolbar</text>
  <Action name="file_new"/>
  <Action name="file_open"/>
  <Action name="file_close"/>
  <DefineGroup name="file_operations"/>
  <DefineGroup name="print_merge"/>
  <DefineGroup name="edit_operations"/>
  <DefineGroup name="find_operations"/>
  <DefineGroup name="zoom_operations"/>
 </ToolBar>
 <Merge/>
 <ToolBar noMerge="1" name="hamburgerBar">
  <text translationDomain="kate">Hamburger Menu Toolbar</text>
  <Spacer name="spacer_0"/>
  <Action name="hamburger_menu"/>
 </ToolBar>
 <Menu noMerge="1" name="ktexteditor_popup">
  <DefineGroup name="popup_operations"/>
  <DefineGroup name="popup_operations2"/>
 </Menu>
 <Menu noMerge="1" name="viewspace_popup">
  <Action name="view_split_vert"/>
  <Action name="view_split_horiz"/>
  <Separator/>
  <Action name="view_close_current_space"/>
  <Separator/>
  <Action name="go_back"/>
  <Action name="go_forward"/>
  <Action name="doc_list"/>
  <Menu noMerge="1" name="viewspace_popup_statusbar">
   <text translationDomain="kate">&amp;Status Bar Items</text>
   <Action name="show_cursor_pos"/>
   <Action name="show_char_count"/>
   <Action name="show_insert_mode"/>
   <Action name="show_select_mode"/>
   <Action name="show_encoding"/>
   <Action name="show_doc_name"/>
  </Menu>
 </Menu>
</gui>
