/*
!/.config
# Repository-related files
!/.gitignore
!/LICENSE
!/README.md
/.config/*
!/.config/autostart
!/.config/autostart/cmst
!/.config/cmst
!/.config/falkon
# Don't keep browser data
/.config/falkon/profiles/default/*
!/.config/falkon/profiles/default/settings.ini
!/.config/fontconfig
!/.config/geany
/.config/geany/geany_socket_*
!/.config/breezerc
!/.config/gtk-3.0
!/.config/gtkrc
!/.config/gtkrc-2.0
!/.config/kdeglobals
!/.config/kglobalshortcutsrc
!/.config/konsolerc
!/.config/kwinrc
!/.config/kwinrulesrc
!/.config/plasma-org.kde.plasma.desktop-appletsrc
!/.config/lxqt
/.config/lxqt/debug.log
!/.config/nm-tray/nm-tray.conf
!/.config/pavucontrol-qt
!/.config/pcmanfm-qt
!/.config/pcmanfm-qt
/.config/pcmanfm-qt/default
/.config/pcmanfm-qt/default/settings.conf
!/.config/qterminal.org
!/.config/nm-tray
!/.config/vlc
!/.gitconfig
!/.qpsrc
!/.local
/.local/*
!/.local/bin
/.local/bin/*
!/.local/bin/governor
!/.local/share
/.local/share/*
!/.local/share/konsole
/.local/share/konsole/*
!/.local/share/konsole/Profile.profile
# Zsh configurations
!/.zim/modules/simpla/simpla.zsh-theme
!/.zimrc
!/.zshenv
!/.zshrc
