/*
!/.config
# Repository-related files
!/.gitignore
!/LICENSE
!/README.md
/.config/*
/!.config/autostart
/!.config/cmst
/!.config/falkon
# Don't keep browser data
/.config/falkon/profiles/default/*
!/.config/falkon/profiles/default/settings.ini
!/.config/fontconfig
!/.config/geany
/.config/geany/geany_socket_*
!/.config/breezerc
!/.config/gtk-3.0
!.config/kdeglobals
!.config/kglobalshortcutsrc
!/.config/kwinrc
!/.config/kwinrulesrc
!/.config/lxqt
/.config/lxqt/debug.log
!/.config/pavucontrol-qt
!/.config/pcmanfm-qt/lxqt
!/.config/qterminal.org
!/.config/vlc
!/.gitconfig
!/.qpsrc
!/.local
/.local/*
!/.local/bin
/.local/bin/*
!/.local/bin/governor
# Zsh configurations
!/.zim/modules/simpla/simpla.zsh-theme
!/.zimrc
!/.zshenv
!/.zshrc
