/*
!/.config
# Repository-related files
!/.gitignore
!/LICENSE
!/README.md
/.config/*
/!.config/autostart
/!.config/cmst
/!.config/falkon
# Don't keep browser data
/.config/falkon/profiles/default/*
!/.config/falkon/profiles/default/settings.ini
!/.config/fontconfig
!/.config/geany
/.config/geany/geany_socket_*
!/.config/breezerc
!/.config/gtk-3.0
!.config/kglobalshortcutsrc
!/.config/kwinrc
!/.config/lxqt
/.config/lxqt/debug.log
!/.config/pavucontrol-qt
!/.config/pcmanfm-qt/lxqt
!/.config/qterminal.org
!/.config/vlc
!/.gitconfig
!/.qpsrc
# Zsh configurations
!/.zim/modules/prompt/functions/prompt_simpla_setup
!/.zimrc
!/.zshrc
